body {
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 1em 2em;
}

.breakdown {
    background-color: hsl(207, 61%, 70%);
    border-radius: 0.25em;
    display: table;
    font-size: 1.25em;
    padding: 2em 0.75em;
    border-spacing: 0.5em;
}
.breakdown .property {
    display: table-cell;
    padding-right: 1em;
}
.breakdown .property-input {
    display: table-cell;
    position: relative;
}
.property-input label {
    display: inline-block;
    font-size: 0.7em;
    position: absolute;
    text-align: center;
    top: -1.75em;
    width: 95%;
}
.breakdown input {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0.25em;
    box-sizing: border-box;
    color: #fff;
    font-family: "Fira Sans", sans-serif;
    font-size: 1em;
    text-align: center;
    width: 4em;
}
.breakdown input.empty {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.5);
}
.breakdown input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.breakdown .link {
    border-radius: 50%;
    border: 1px dashed #914B19;
    bottom: -1.05em;
    box-sizing: border-box;
    clip: rect(1em, auto, auto, auto);
    display: none;
    height: 2em;
    position: absolute;
    right: 2em;
    width: 4.5em;
}
.breakdown .link-wide {
    bottom: -1.55em;
    clip: rect(1.5em, auto, auto, auto);
    height: 3em;
    width: 9em;
}
.breakdown .link.visible {
    display: block;
}

.box-model {
    border: 1px solid #666;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 2em;
}
.box-model span {
    outline: 1px dashed #999;
}
